<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tiendecita?serverTimezone=Europe/Madrid</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">tiendecita</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <mapping class="dev.felipesantacruz.tiendecita.model.Article"/>
        <mapping class="dev.felipesantacruz.tiendecita.model.Ticket"/>
        <mapping class="dev.felipesantacruz.tiendecita.model.TicketLine"/>
    </session-factory>
</hibernate-configuration>
